<h1>Welcome to Rodrigo's internet page</h1>
<p>I think i just outnerd myself</p>
<p>how do you like this <%= link_to "bear", "https://www.facebook.com/bernadette.vargas.35" %>.</p> 
find more about <%= link_to "Rodrigo", about_path %>
